.AboutMe{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.AboutMe-avatarC > img{
    width: 450px;
    height: 450px;
    margin: 2rem;
}

.AboutMe-intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
}

.AboutMe-gesture{
    font-size: 1.5rem;
    color: rgb(155, 152, 152); 
}

.AboutMe-name{
    font-size: 2rem;
    margin: 1rem 0rem 0.5rem 0rem;
}

.AboutMe-details{
    margin: 0.5rem 1.5rem;
    text-align: justify;
    font-size: 1.1rem;
}

.AboutMe-intro > a {
    text-decoration: none;
    border: 2px solid var(--text-primary-color);
    padding: 1rem 2rem;
    margin: 1.3rem 1rem;
    background-color: #a52a2a;
    color: var(--text-primary-color);
    border-radius: 10px;
    cursor: pointer;
}

.AboutMe-intro > a:hover{
    background-color: rgb(110, 20, 20);
}



@media (max-width: 700px) {
	.AboutMe {
		flex-direction: column;
        align-items: center;
        margin-top: 0rem;
	}

    .AboutMe-avatarC > img{
        width: 300px;
        height: 300px;
    }

    .AboutMe-intro{
        width: 400px;
    }

}