.Certification{
    display: flex;
    flex-direction: column;
}

.Certification-header{
    font-size: 2rem;
    margin: 2rem 1.5rem 1.5rem 1.5rem;
}

.Certification-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.Certification-details{
    width: 700px;
    padding: 1.2rem 2rem;
    text-align: justify;
}

.Certification-details > div{
    font-size: 1.2rem;
}

.Certification-details > div, p {
    margin-bottom: 1.2rem;
}

.Certification-details > p > span{
    font-weight: bold;
}

.Certification-details > a{
    text-decoration: none;
    border: 2px solid var(--text-primary-color);
    padding: 1rem 2rem;
    display: inline-block;
    background-color: brown;
    color: var(--text-primary-color);
    border-radius: 10px;
    cursor: pointer;
    margin: 0.5rem 1rem 0.5rem 0rem;
}

.Certification-details > a:hover{
    background-color: rgb(90, 10, 10);
}


@media(max-width: 700px){
    .Certification-container{
        flex-direction: column-reverse;
    }

    .Certification-details{
        width: 400px;
    }
}