.Education{
    display: flex;
    flex-direction: column;
}

.Education > h2{
    font-size: 2rem;
    margin: 2rem 1.5rem 1.5rem 1.5rem;
}

.Edu{
    display: flex;
    flex-direction: column;
    margin: 1rem 1.5rem;
    background-color: #a52a2a;
    /* box-shadow: inset 100px 100px 120px #a52a2a; */
    color: var(--text-primary-color);
    padding: 1rem;
    border-radius: 10px;
}

.Edu > h2, p{
    margin: 0.3rem 0rem;
}

