@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Water+Brush&display=swap');

:root{
  --primary-color: #a52a2a;
  --text-primary-color: white;
  --text-secondary-color: grey;
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
