.NavBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px dotted var(--text-primary-color);
}

.NavBar-header{
    font-family: 'Water Brush', cursive;
    padding: 0.5rem 0rem 0.5rem 1rem;
    font-size: 3rem;
    color: var(--text-primary-color);
    margin-left: 1rem;
}

.NavBar-list{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 500px;
}

.NavBar-list > li{
    font-size: 1.1rem;
    margin: 0rem 0.5rem;
}

.NavBar-list > li > a{
    text-decoration: none;
    color: var(--text-primary-color);
    padding: 2rem 0.8rem;
}

.NavBar-list > li > a:hover{
    background-color: var(--primary-color);
}


@media(max-width: 700px){
    .NavBar{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .NavBar-header{
        font-size: 4rem;
        padding: 0px;
    }

    .NavBar-list{
        flex-direction: column;
        margin-bottom: 0.5rem;
    }

    .NavBar-list > li{
        margin: 0.3rem 0.3rem;
        border-bottom: 1px solid grey;
    }

    .NavBar-list > li > a{
        padding: 0.3rem 1rem;
    }

}