.NavBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid white;
}

.NavBar-header{
    font-family: 'Water Brush', cursive;
    padding: 0.5rem 0rem 0.2rem 0rem;
    font-size: 3rem;
    margin-left: 2rem;
}

.NavBar-list{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 500px;
}

.NavBar-list > li{
    font-size: 1.1rem;
    margin: 0rem 0.8rem;
}

.NavBar-list > li > a{
    text-decoration: none;
    color: var(--text-primary-color);
    padding: 1.8rem 0.8rem;
}

.NavBar-list > li > a:hover{
    background-color: var(--primary-color);
}


@media(max-width: 700px){
    .NavBar{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .NavBar-header{
        font-size: 4rem;
        padding: 0.3rem 0rem 0rem 0rem;
        margin-left: 0rem;
    }

    .NavBar-list{
        flex-direction: column;
        margin-bottom: 0.7rem;
    }

    .NavBar-list > li{
        margin: 0.4rem 0.2rem;
        border-bottom: 1px dotted grey;
    }

    .NavBar-list > li > a{
        padding: 0rem 1rem;
    }

}