.Skills{
    display: flex;
    flex-direction: column;
}

.Skills-header{
    font-size: 2rem;
    margin: 2rem 1.5rem 1.5rem 1.5rem;
    color: var(--text-primary-color);
}

.Skills-container{
    display: flex;
    justify-content: center;
}

.firstSkillSet, .secondSkillSet{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
}

.Skills-skill{
    background-color: #444a57;
    margin: 1.5rem 0.5rem;
    padding: 1rem 0.5rem 1rem 0.5rem;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    width: 90%;
    display: flex;
    align-items: center;
}

.firstSkillSet > div > img{
    height: 2rem;
    width: 2rem;
    margin-right: 0.3rem;
}

.secondSkillSet > div > img{
    height: 2rem;
    width: 2rem;
    margin-right: 0.3rem;
}

.Skills-skill > i{
    font-size: 1.2rem;
    color: cyan;
    margin: 0rem 0.3rem;
}

.Skills-skill:hover{
    background-color: var(--primary-color);
    
}


@media(max-width: 700px){
    .Skills-container{
        flex-direction: column;
        align-items: center;
    }

    .firstSkillSet, .secondSkillSet{
        width: 90%;
    }
    
    .Skills-skill{
        margin: 1.5rem 1rem;
        padding: 1rem 0.5rem 1rem 0.5rem;
    }

}